# 1

In [1]:
data <- read.csv(file = "../Data/7.csv")

In [2]:
data

  I       Y       C       Q         P   R       Y_1     C_1    Q_1
1    2370    5328    7500   11390.5 210    1300     310    450     725.6
2   27125   49730   40600   76961.7 220   18500    5328   7500   11390.5
3  108810  172380  124000  251944.4 238  129000   49730  40600   76961.7
4  266974  437007  310000  662374.4 195  384000  172380 124000  251944.4
5  375998  558500  260000  780819.2 208 1108000  437007 310000  662374.4
6  408797  711600  390000  881001.1 229 1469000  558500 260000  780819.2
7  407086  686000  490000 1032768.6 204 1626000  711600 390000  881001.1
8  970439 1213600  990000 2050276.8 180 1707000  686000 490000 1032768.6
9 1165181 2097700 1650000 3033247.2 181 3150000 1213600 990000 2050276.8

In [3]:
# Регрессия на все эндогенные и их оценка
Y_est <- lm(Y ~ Y_1 + C_1 + Q_1 + P + R , data = data)$fitted.values
I_est <- lm(I ~ Y_1 + C_1 + Q_1 + P + R , data = data)$fitted.values
C_est <- lm(C ~ Y_1 + C_1 + Q_1 + P + R , data = data)$fitted.values
Q_est <- lm(Q ~ Y_1 + C_1 + Q_1 + P + R , data = data)$fitted.values

In [4]:
summary( lm( Y ~ Y_1 + I_est, data = data ) )

Call:
lm(formula = Y ~ Y_1 + I_est, data = data)

Residuals:
    Min      1Q  Median      3Q     Max
-189967 -106543   -3900  133060  202849

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept) -2.493e+04  8.160e+04  -0.306   0.7703
Y_1          5.002e-01  4.381e-01   1.142   0.2971
I_est        1.135e+00  4.586e-01   2.476   0.0481 *
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 162500 on 6 degrees of freedom
Multiple R-squared:  0.9544,	Adjusted R-squared:  0.9392
F-statistic: 62.81 on 2 and 6 DF,  p-value: 9.472e-05

In [5]:
summary( lm( I ~ Y_est + Q_est, data = data ) )

Call:
lm(formula = I ~ Y_est + Q_est, data = data)

Residuals:
    Min      1Q  Median      3Q     Max
-115241  -76851  -47291   93111  199642

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept) 25439.6193 60343.1825   0.422    0.688
Y_est          -0.3916     0.6701  -0.584    0.580
Q_est           0.6636     0.4513   1.470    0.192

Residual standard error: 123600 on 6 degrees of freedom
Multiple R-squared:   0.93,	Adjusted R-squared:  0.9066
F-statistic: 39.84 on 2 and 6 DF,  p-value: 0.0003434

In [6]:
summary( lm( C ~ Y_est + C_1 + P, data = data ) )

Call:
lm(formula = C ~ Y_est + C_1 + P, data = data)

Residuals:
      1       2       3       4       5       6       7       8       9
 -46707   29851  163433   11034 -219612  -35381  -66007  133880   29509

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept)  5.622e+05  8.082e+05   0.696    0.518
Y_est        5.747e-01  6.839e-01   0.840    0.439
C_1          3.309e-01  1.391e+00   0.238    0.821
P           -2.719e+03  3.614e+03  -0.752    0.486

Residual standard error: 143200 on 5 degrees of freedom
Multiple R-squared:  0.9546,	Adjusted R-squared:  0.9273
F-statistic: 35.02 on 3 and 5 DF,  p-value: 0.0008814

In [7]:
summary( lm( Q ~ Q_1 + R, data = data ) )

Call:
lm(formula = Q ~ Q_1 + R, data = data)

Residuals:
    Min      1Q  Median      3Q     Max
-223175 -114884  -76875   24761  530073

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept)  1.254e+05  1.334e+05   0.940    0.384
Q_1          3.351e+00  1.318e+00   2.542    0.044 *
R           -1.210e+00  8.303e-01  -1.458    0.195
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 261000 on 6 degrees of freedom
Multiple R-squared:  0.9476,	Adjusted R-squared:  0.9301
F-statistic: 54.22 on 2 and 6 DF,  p-value: 0.0001441

# 2

In [8]:
data <- read.csv(file = "../Data/7_2.csv", sep="\t")

In [9]:
data

  Y         M        N     S     E X       E_1 M_1
1   19005.5 0.482632  2200  1500 1   11847 1   0.129471
2  171509.5 0.304956  5500  4000 1   65524 1   0.482632
3  610745.2 0.232131 10500  6000 1  169534 1   0.304956
4 1524049.0 0.242857 20350 18000 1  426735 1   0.232131
5 2145655.5 0.205965 20000 15000 0  532239 1   0.242857
6 2478594.1 0.209359 30000 20000 0  592332 0   0.205965
7 2741051.2 0.234951 45000 35000 0  840596 0   0.209359
8 4757233.7 0.268908 50000 45000 0 2090687 0   0.234951
9 7063392.8 0.249292 45000 40000 0 3232388 0   0.268908

In [10]:
M_est <- lm(M ~ E_1 + M_1 + Y + X, data = data)$fitted.values
N_est <- lm(N ~ E_1 + M_1 + Y + X, data = data)$fitted.values
S_est <- lm(M ~ E_1 + M_1 + Y + X, data = data)$fitted.values

In [11]:
summary(lm( M ~ N_est + S_est + E_1 + M_1, data = data))
summary(lm( N ~ M_est + S_est + Y, data = data))
summary(lm( S ~ M_est + N_est + X, data = data))

Call:
lm(formula = M ~ N_est + S_est + E_1 + M_1, data = data)

Residuals:
        1         2         3         4         5         6         7         8
 0.035639  0.034843 -0.076725 -0.020325  0.026568  0.007681 -0.002623 -0.016503
        9
 0.011444

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept) -1.546e-16  2.527e-01    0.00   1.0000
N_est        1.717e-21  3.998e-06    0.00   1.0000
S_est        1.000e+00  3.311e-01    3.02   0.0392 *
E_1          3.861e-18  1.158e-01    0.00   1.0000
M_1          5.973e-17  2.147e-01    0.00   1.0000
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.0499 on 4 degrees of freedom
Multiple R-squared:  0.8284,	Adjusted R-squared:  0.6568
F-statistic: 4.828 on 4 and 4 DF,  p-value: 0.07822

Call:
lm(formula = N ~ M_est + S_est + Y, data = data)

Residuals:
   Min     1Q Median     3Q    Max
-11321  -5716  -2229   1791  16294

Coefficients: (1 not defined because of singularities)
              Estimate Std. Error t value Pr(>|t|)
(Intercept)  1.899e+04  1.583e+04   1.200   0.2754
M_est       -3.286e+04  4.955e+04  -0.663   0.5319
S_est               NA         NA      NA       NA
Y            6.391e-03  1.675e-03   3.816   0.0088 **
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 9880 on 6 degrees of freedom
Multiple R-squared:  0.7752,	Adjusted R-squared:  0.7003
F-statistic: 10.35 on 2 and 6 DF,  p-value: 0.01136

Call:
lm(formula = S ~ M_est + N_est + X, data = data)

Residuals:
      1       2       3       4       5       6       7       8       9
-3522.9  -757.8 -1421.7  5977.0  -202.7 -8320.1  5958.4  8401.8 -6111.9

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept) -1.656e+03  1.487e+04  -0.111   0.9156
M_est        5.402e+03  4.058e+04   0.133   0.8993
N_est        6.921e-01  3.280e-01   2.110   0.0886 .
X            3.530e-03  4.675e-03   0.755   0.4842
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 7259 on 5 degrees of freedom
Multiple R-squared:  0.8728,	Adjusted R-squared:  0.7965
F-statistic: 11.44 on 3 and 5 DF,  p-value: 0.01121