In [1]:
data <- read.csv(file = "../Data/6_1.csv", sep =";", dec= ",")[,-1]
data

  Y1 Y2  X1   X2
1 60 5.1 1300 62
2 63 4.2 1300 56
3 65 4.0 1500 56
4 62 5.0 1600 63
5 66 3.8 1800 50

In [2]:
coef1 <- lm(Y1 ~ X1 + X2, data = data)$coefficients
coef2 <- lm(Y2 ~ X1 + X2, data = data)$coefficients
coef1
coef2

 (Intercept)           X1           X2
76.344968084  0.003637104 -0.324052696

  (Intercept)            X1            X2
-2.2154828195  0.0001910906  0.1106070895

In [3]:
a1 <- coef1[1]*(1-coef1[3] / coef2[3]) - coef2[1] * coef2[2] / coef1[2] - coef1[1]*((coef2[2] / coef1[2])^2)
a2 <- coef2[1]-coef1[1]*(coef2[2]/coef1[2])

b12 <- coef1[3] / coef2[2]
b21 <- coef2[2] / coef1[2]

c11 <- coef1[2]*(1 - b12*b21)
c22 <- coef2[3]*(1 - b12*b21)

In [4]:
a1
b12
c11

a2
b21
c22

(Intercept)
   299.9234

       X2
-1695.807

       X1
0.3276898

(Intercept)
  -6.226587

        X1
0.05253921

      X2
9.965294

In [5]:
summary(lm(Y1~.,data=data))

Call:
lm(formula = Y1 ~ ., data = data)

Residuals:
        1         2         3         4         5
 0.043031 -0.058063  0.048631 -0.035368  0.001768

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept) 65.5019747  1.0294912  63.626   0.0100 *
Y2          -4.8941898  0.2529069 -19.352   0.0329 *
X1           0.0045723  0.0002629  17.393   0.0366 *
X2           0.2172794  0.0298427   7.281   0.0869 .
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.09403 on 1 degrees of freedom
Multiple R-squared:  0.9996,	Adjusted R-squared:  0.9984
F-statistic: 859.2 on 3 and 1 DF,  p-value: 0.02507

# Часть 2

In [6]:
data <- read.csv(file = "../Data/6_2.csv", sep =";", dec= ",")
head(data)

  Year Dt    YT_1 Ct   YT
1 1     -6.8 46.7  7.4  3.1
2 2     22.4  3.1 30.4 22.8
3 3    -17.3 22.8  1.3  7.8
4 4     12.0  7.8  8.7 21.4
5 5      5.9 21.4 25.8 17.8
6 6     44.7 17.8  8.6 37.2

In [7]:
model1 <- lm(Ct~Dt + YT_1, data = data)
model1

model2 <- lm(YT~Dt + YT_1, data = data)
model2

Call:
lm(formula = Ct ~ Dt + YT_1, data = data)

Coefficients:
(Intercept)           Dt         YT_1
     8.6356       0.3384       0.2020

Call:
lm(formula = YT ~ Dt + YT_1, data = data)

Coefficients:
(Intercept)           Dt         YT_1
     8.2184       0.6688       0.2610

In [9]:
CD = model1$fitted.values + data$Dt
lm(YT~CD, data = data)

Call:
lm(formula = YT ~ CD, data = data)

Coefficients:
(Intercept)           CD
     7.6878       0.5117